@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




:root{
    --neutral--0: #fff;
    --neutral--100: #f2f3f6;
    --neutral--600: #1d1e20;
    --neutral--800: #000;
    --primary--50: #f1ecff;
    --primary--100: #e2dbfc;
    --primary--500: #673de6;
    --primary--800: #2f1c6a;
    --primary--1000: #1f1346;
    --light-blue--100: #f4f5ff;
    --light-blue--200: #d5dfff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-decoration-line: none;
    text-decoration-color: var(--neutral--0);
    vertical-align: baseline;
}

body{
    display: block;
    background-color: var(--neutral--0);
    font-family: "DM Sans", sans-serif;
    letter-spacing: normal;
    text-decoration-style: solid;
    word-spacing: normal;
    width: 100%;
    line-height: 24px;
}
html{
    scroll-behavior: smooth;
    width: 100%;
}

main{
    width: 100%;
}

img{
    width: 100%;
    object-fit: contain; /*  O 'contain' para que no recorte */
    height: 24px;
} 

/* ------------------------------------------------------------------------- */

/* generic classes */

.flex_column{
    display: flex;
    flex-direction: column;
}
.flex_row{
    display: flex;
    flex-direction: row;
}

.block{
    display: block;
}

.items_start{
    display: flex;
    justify-content: start;
    align-items: center;
}

.items_centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.items_between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items_end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.strong_text{
    font-weight: 700;
    vertical-align: baseline;
}

.medium_text{
    font-weight: 400;
    vertical-align: baseline;
}

/* ------------------------------------------------------------------------- */

/* NAV */

.navigation{
    height: 88px;
    background-color: var(--neutral--0);
    position: sticky;
    top: 0;
    width: 100vw;
    transition: box-shadow 0.1s ease;
}

/* Clase que se agrega al hacer scroll */
nav.scrolled {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navigation_logo{
    padding-top: 29px;
    padding-bottom: 29px;
    padding-left: 40px;
    padding-right: 0;
}

.navigation_menu{
    justify-content: space-between;
    align-items: center;
    padding-top:20px;
    padding-bottom:20px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100vw;
}

.navigation_menu_start{
    justify-content: center;
    height: 24px;
}

.navigation_menu_items{
    gap: 32px;
    height: 24px;
}

.nav_menu_item{
    display: block;
}

.navigation_menu_icon{
    display: flex;
    height: auto;
}

.nav_menu_link{
    justify-content: center;
    align-items: end;
    height: 24px;
    text-decoration: none;
    color: var(--neutral--600);
    font-size: 16px;
    font-weight: 300;
    text-decoration-style: solid ;
}

.navigation_menu_end{
    justify-content: space-between;
    align-items: center;
    height: 48px;
    gap: 32px;
}

.navigation_menu_country_selector{
    justify-content: center;
    align-items: center;
    height: 24px;
}

.navigation_menu_flag{
    display: flex;
    height: 24px;
    align-items: center;
    justify-content: center;
}

.navigation_menu_flag_image{
    height: 20px;
    width:32px;
}

.navigation_menu_login{
    border-radius: 8px;

}
.navigation_menu_end_text{
    gap: 4px;
    height: auto;
    text-decoration: none;
    font-size: 16px;
    color: var(--neutral--600);
}

.navigation_menu_end_text--login{
    display: inline-block;
    position: static;
    font-size: 16px;
    line-height: 16px;
    background-color: var(--neutral--0);
    border-radius: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border: 2px solid var(--neutral--600);
}

@media (max-width: 1139px){   
    .navigation{
        height: 62px;
    }

    .navigation_logo{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 0;
    }
    .navigation_menu{
        display: none;
    }
    .navigation_menu_mobile_icon{
        right: 16px;
        top: 16px;
        position: fixed;
        width: 24px;
        height: 24px;
    }   
}

@media (min-width: 1140px) {
    .navigation_menu_mobile{
        display: none;
    }
}

/* ------------------------------------------------------------------------- */

/* HEADER */

.header{
    display: block;
    background-color: var(--neutral--0);
    height: auto;
    color: var(--primary--800);
}

.header_container{
    display: block;
    padding-top: 36px;
    padding-bottom: 96px;
}

.head_grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 1472px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
}

.head_grid_column_wrapper{
    width: 100%;
    height: auto;
    gap: 8px;
}

/* LEFT COLUMN */
.head_grid_left_column{
    display: block;
    width: auto;
    max-width: 463px;
    height: auto;
    text-align: start;
}

.header_info_heading_wrapper{
    margin-bottom: 24px;
}

.header_info_title{
    font-size: 36px;

    line-height: 40px;
    letter-spacing: 1px;
}

.header_info_subtitle{
    font-size: 20px;
    line-height: 32px;
    margin-top: 8px;
}

.header_info_discount{
    color: var(--primary--500)
}

.header_info_list_wrapper{
    margin-bottom: 22px;
}

.header_info_list_item{
    gap: 10px;
    margin-bottom: 2px;
}

.header_info_price_wrapper{
    margin-bottom: 2px;
}

.header_info_price_text{
    font-size: 20px;
}

.header_info_price_value{
    font-size: 48px;
    line-height: 56px;
}

.header_info_price_time_wrapper{
    margin-bottom: 24px;
    }


.header_info_price_time{
    font-size: 20px;
    line-height: 32px;
    text-decoration-color: var(--primary--800);
    text-decoration-style: solid;
    text-decoration-thickness: auto;
}

.header_info_button_wrapper{
    gap: 12px;
}

.header_info_ready_button{
    border-radius: 8px;
    background-color: var(--primary--500);
    color: var(--neutral--100);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 48px;
    padding-right: 48px;
    border: 2px solid var(--primary--500);
}

.ready_button{
    font-size: 16px;
    line-height: 20px;
    flex-basis: auto;
}

.header_info_countdown{
    flex-basis: auto;
    background-color: var(--primary--100);
    width: 160px;
    height: 48px;
    border-radius: 8px;
    color: var(--primary-500);
    font-size: 16px;
}

.header_info_warranty_wrapper{
    margin-top: 12px;
}

/* RIGHT COLUMN */
.head_grid_right_column{
    width: auto;
    max-height: 576.5px;
}

.header_image{
    max-width: 880px;
    height: auto;
}

/* ------------------------------------------------------------------------- */

/* SECTION SERVICES */

.services_section{
    background-color: var(--primary--1000);
    padding-top: 80px;
    padding-bottom: 80px;
    height: auto;
}

.services_title_wrapper{
    display: grid;
    justify-items: center;
    max-width: 1208px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.services_title{
    font-size: 36px;
    line-height: 40px;
    color: var(--neutral--100);
    letter-spacing: 1px;
}

.services_description{
    margin-top: 24px;
    font-size: 16px;
    color: var(--neutral--100);
    text-align: center;
}

.services_cards_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1208px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
    gap: 24px;
}

.services_card{
    background-color: var(--primary--800);
    padding: 32px;
    gap: 16px;
    border-radius: 16px;
}
.serv_icon_container{
    height: 40px;
}

.serv_icon{
    width: 40px;
    height: 40px;
    background-color: var(--primary--500);
    border-radius: 6px;
}
.serv_icon_img{
    width: 40px;
    height: 40px;
}

.card_title_text{
    font-size: 18px;
    text-align: left;
    color: var(--neutral--100);
}

.services_card_description{
    font-size: 16px;
    text-align: left;
    color: var(--neutral--100);
}

.services_btn_wrapper{
    margin-top: 32px;
}

.services_btn_link{
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    border: var(--primary--500);
    background-color: var(--primary--500);
    height: 48px;
}

.services_btn_text{
    text-decoration: none;
    font-size: 16px;
    color: var(--neutral--100);
}

/* ------------------------------------------------------------------------- */

/* FOOTER */

.footer_wrapper{
    background-color: var(--light-blue--100);
    padding-top: 56px;
}

.footer_grid_container{
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 1208px;
    margin-left: auto;
    margin-right: auto;
    gap: 24px;
}

/* Footer logo section */
.footer{
    bottom: 0;
    position: static;
}

.footer_logo_section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: normal;
    align-items: center;
    gap: 16px;
}

.social_links_wrapper{
    order: 0;
    position: static;
    flex-basis: 50%;
    flex-grow: 1;
    gap: 16px;
}

.social_link{
    background-color: transparent;
    color: var(--neutral--100);
    width: 32px;
    height: 32px;
}

.footer_h_logo{
    order: -1;
}

.payment_methods_wrapper{
    order: 0;
    flex-wrap: wrap;
    flex-basis: 50%;
    gap: 8px;
}


.payment_method{
    background-color: transparent;
    color: var(--neutral--100);
    width: 60px;
    height: 40px;
}

.payment_method_img{
    width: 60px;
    height: 40px;
    border: 1px solid var(--light-blue--200);
    border-radius: 6px;
}

.payment_method_text{
    font-size: 14px;
    color: var(--primary--500);
    text-align: center;
    text-decoration-style: solid;
}

.legal_links_wrapper{
    order: 4;
}

.legal_links{
    flex-wrap: wrap;
    gap: 16px;
}

.legal_link{
    font-size: 14px;
    color: var(--primary--800);
    text-align: center;
}

/* Footer copyright section */

.footer_copyright_section{
    flex-wrap: wrap;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid var(--light-blue--200);
    column-gap: 16px;
}

.footer_copyright_text{
    font-size: 14px;
    color: var(--primary--800);
}


/* MEDIA QUERIES */

@media (max-width:767px){
    .services_section{
        padding-top: 56px;
        padding-bottom: 56px;
    }
    .services_title_wrapper{
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
        margin-bottom: 32px;
    }
    .services_cards_wrapper{
        padding-left: 16px;
        padding-right: 16px;
    }
    .services_title{
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }
    .footer_grid_container{
        max-width: 540px;
        padding-left: 16px;
        padding-right: 16px;
        gap: 0;
    }
    .footer_wrapper{
        padding-top:0;
        height: auto;
    }
    .footer_logo_section{
        margin-top: 24px;
    }
    .footer_h_logo{
    order: 0;
    }
    .social_links_wrapper{
    order: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 8px;
    flex-basis: 100%;
    justify-content: space-between;
    }
    .payment_methods_wrapper{
        margin-bottom: 24px;
        max-width: 300px;
        flex-basis: auto;
    }
    .footer_copyright_section{
        padding-top: 24px;
        padding-bottom: 16px;
        gap: 16px;
    }
        .header_container{
        padding-top: 14px;
        padding-bottom: 36px;
    }
    .head_grid{
        padding-left: 16px;
        padding-right: 16px;
        max-width: 540px;
    }
    .head_grid_left_column{
        width: 100%;
    }
    .header_info_button_wrapper{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
    }
    .header_info_ready_button{
        width: 100%;
    }
    .header_info_countdown{
        width: 100%;
    }
    .header_info_title{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: normal;
    }
    .header_info_subtitle{
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
    }
    .header_info_price_value{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    }   
}


@media (max-width: 1024px) {
    .head_grid_column_wrapper{
    max-width: 688px;
    display: grid;
    grid-template-columns: 1fr; /* 1 sola columna */
    justify-items: start;
    justify-content: center;     /* centra horizontalmente cada item */
    }   
    .head_grid_left_column{
        max-width: 100%;
        line-height: 24px;
    }
    .header_container{
        padding-top: 62px;
        padding-bottom: 80px;
    }
    .head_grid{
        max-width: 768px;
    }
    .header_info_title{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1px;
    }
    .header_info_subtitle{
        font-size: 18px;
        font-weight: 700;
        line-height: 32px;
    } 
    .header_info_price_value{
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    }
    .header_info_price_time{
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-decoration-color: var(--primary--800);
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    }
    .header_info_list_wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    }
    .header_info_heading_wrapper{
    margin-bottom: 16px;
    }
    .header_info_price_time_wrapper{
    margin-bottom: 16px;
    line-height: 24px;
    }
    .header_info_wrapper{
    width: 100%;
    }
    .services_section{
        width: 100%;
    }
    .services_cards_wrapper{
    grid-template-columns: repeat(1, 1fr);
    max-width: 768px;
    }
    .services_title_wrapper{
        max-width: 768px;
    }
    .services_title{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    color: var(--neutral--100);
    letter-spacing: 1px;
    }
        .footer_grid_container{
        max-width: 768px;
    }
    .legal_links_wrapper{
        order: 0;
    }
    .payment_methods_wrapper{
        order: 0;
        flex-basis: auto;
        margin-bottom: 40px;
    }
}

@media (min-width: 1025px) and (max-width: 1446px) {

    .header_wrapper{
        justify-items: center;
    }
    .head_grid{
        justify-content: center;
        justify-items: center;
    }
    .head_grid_column_wrapper{
        width: 100%;
    }
    .header_image{
    max-width: 616px;
    height: auto;
    }
}
